# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# Ignore Virtual Environment
env/
venv/

# Ignore Django-specific files
*.sqlite3
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Ignore IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore Node.js/Tailwind files if using frontend tools
node_modules/
package-lock.json
yarn.lock

# Ignore macOS & Windows system files
.DS_Store
Thumbs.db

# Environment variables
.env
